@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: url(DroidNaskh-Regular.woff2) format('woff2');
}

html {
    margin: 0;
    height:100%;
}

body,
input {
    font-family: 'Droid Arabic Naskh', monospace;
}

body {
    background: linear-gradient(to top, #996633 20%,#99ff33 0%, #99ff33 30%,#cc0000 0%,#cc0000 31%, #3399ff 0%);
    height:100%;
    margin: 1em;
    color:#fff;
}

header img {
    margin: 1em 0 0;
    display: block;
    max-width: 100%;
}

header h1 {
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    font-weight: normal;
}

header small {
    display: block;
}

.loader {
    animation: l .6s infinite linear;
    border-top: 4px solid #000;
    width: 4em;
    height: 4em;
    border-radius: 100%;
}

@keyframes l {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    color: #eee;
}

#main {
    max-width: 600px;
    margin: 1em .3em;
    background: rgba(0, 0, 0, .3);
}

#main a {
    display: block;
    text-align: right;
    font-size: 1.2em;
    padding: 1em .5em;
    text-decoration: none;
    word-wrap: break-word;
    border-bottom:1px solid rgba(255,255,255,.12);
}

#main a:hover,
#main a:focus {
    background: rgba(255, 255, 255, .1);
}

#search input {
    margin-top: 1em;
    max-width: 600px;
    width: 100%;
    display: block;
    border: 0;
    padding: 1em 2em;
    font-size: 1em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .5);
    border-radius: 0;
}

#search input:focus {
    background: white;
}

#header-back-a {
    text-decoration:none;
    font-size:2.5em;
    margin:0 0 1em 0;
    display:block;
    border-bottom:2px solid rgba(255,255,255,.25);
}
