@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: url(DroidNaskh-Regular.woff2) format('woff2');
}

html {
    margin: 0;
    height:100%;
}

body,
input {
    font-family: 'Droid Arabic Naskh', monospace;
}

body {
    background:rgba(0,0,0,.1);
    height:100%;
    margin: 1em;
    color:#000;
}

header img {
    margin: 1em 0 0;
    display: block;
    max-width: 100%;
}

header h1 {
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    font-weight: normal;
    font-size:2.3em;
}

header small {
    display: block;
}

.loader {
    animation: l 1s infinite linear;
    border: 5px solid transparent;
    border-top-color: #000;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin:1em;
    display:block;
}

@keyframes l {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fade
{
    0% {opacity:0}
    100% {opacity:1}
}

a {
    color: #000;
}

nav
{
    margin-top:1em;
    text-align:left;
}
nav button
{
    background:rgba(255,255,255,.5);
    border:0;
    outline:0;
    font-family:inherit;
    font-size:1.1em;
    padding:.5em 1em;
    border-radius:1em;
}
nav button:hover
{
    background:rgba(255,255,255,.7);
}

#main {
    border-radius:1em;
    max-width: 1000px;
    margin: 1em 0;
    background: rgba(255, 255, 255, .65);
}
main p {
    text-align:right;
    line-height:2;
    padding:1em;
    background:rgba(255,255,255,.4);
    color:#000;
    font-size:1.1em;
    border-radius:1em;
}
main img {
    display:block;
    max-width:95%;
    height:auto;
    margin:auto auto 1em;
    border-radius:1em;
}
#main a {
    display: block;
    text-align: right;
    font-size: 1.1em;
    padding: .5em 1em;
    text-decoration: none;
    word-wrap: break-word;
}

#main a:hover {
    background: rgba(255, 255, 255, .2);
}

#search input {
    margin-top: 1em;
    max-width: 1000px;
    width: 100%;
    display: block;
    border: 0;
    outline: 0;
    padding: 1em 2em;
    font-size: 1em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .5);
    border-radius: 1em;
}

#search input:focus {
    background: white;
}

#header-back-a {
    text-decoration:none;
    font-size:2.5em;
    margin:0 0 1em 0;
    display:block;
    border-bottom:2px solid rgba(255,255,255,.25);
}
.cover
{
    background:rgba(255,255,255,.5);
    position:fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index:-998;
}
.flower
{
    width:20em;
    height:20em;
    border-radius:50%;
    position:fixed;
    z-index:-999;
}
#flower-red
{
    left:0;
    bottom:0;
    transform:rotate(+30deg);
    animation:fade-flower-red 1s ease forwards;
}
@keyframes fade-flower-red
{
    from {
	background: none;
	box-shadow: none;
    }
    to {
	background: rgba(200,0,0,.6);
	box-shadow: -15em 0 0 #f00,
		    0 -15em 0 rgba(255,0,0,.7),
		    15em 0 0 #f00, 0 15em 0 rgba(255,0,0,.7);
    }
}
